/* .update-major-version-warning{font-size: 11px; font-weight: bold; display: block; padding: 10px; color: white !important; background:red; line-height: 1.2em;  white-space: normal;} */

input.no_before.form-radio + label::before {
  display: none !important;
}

body form input.no_before.form-radio + label::before {
  display: none !important;
}

body form input.no_before.form-radio:checked + label::before {
  display: none !important;
}

#update-manager-update-form table.table-select-processed {
  table-layout: fixed;
}

form table input.form-radio.disabled_input {
  display: none;
}

.vrs_date {
  font-size: 11px;
  line-height: 1.2em;
}

.form-item label.option div {
  white-space: normal;
}

.form-item label.option div.drupal_extended_recommends {
  white-space: normal;
  line-height: 1.2em;
  font-size: 11px;
  font-weight: bold;
}

.update-major-version-warning {
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 10px;
  color: white !important;
  background: red;
  line-height: 1.2em;
  white-space: normal;
}

th.update-project-name {
  width: 35% !important;
}

.select-all {
  width: 50px;
}
